extends ../layout/default
block content
	table.table.table-hover.text-center 
		thead 
			tr 
				th 번호
				th 도서명
				th 내용
				th 저자
				th 발행일
				th 관리
		tbody 
			each book in books
				tr 
					td= book.id
					td(style="text-align: left")
						a(href=`/book/view/${book.id}?page=${pager.page}`)= book.bookName
					td(style="text-align: left")= book.content
					td= book.writer
					td= book.createdAt
					td
						a(href=`/book/update/${book.id}`) 수정
						a(href=`javascript: delBook(${book.id});`) 삭제
	include ../inc/pager
